.twitter-feed {
    margin: 0 20%;
    box-sizing: border-box;
    background-color: lightgrey;
    height: 100%;
}

body {
    background-color: lightblue;
    height: 100%;
}
html{
    height: 100%;
}
.tweet {
    margin: 10px auto;
    padding: 10px;
    height: 100px;
    width: 250px;
    background-color: white;
}
.new-tweet-form{
    margin: 10px auto;
}